html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.container-image {
  height:80vh;
  width:auto;
  padding:2px;
  box-shadow:inset 0px 10px 3px gray;
}
.card-01{
  width:100%;
  height:auto;
}
